doctype html
html( lang='en' )
	head
		title= 'User Page'
		link( rel='stylesheet' type='text/css' href='/client/modules/reset/reset.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/newpage/newpage.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/colorbox/colorbox.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/login/login.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/dock/dock.css' )
		link( rel='stylesheet' type='text/css' href='/client/profile/profile.css' )
		link( rel='stylesheet' type='text/css' href='/client/profile/delta/delta.css' )
		link( rel='stylesheet' type='text/css' href='/client/profile/badges/badges.css' )
		link( rel='stylesheet' type='text/css' href='/client/profile/mail/mail.css' )
		link( rel='stylesheet' type='text/css' href='/client/profile/options/options.css' )
		link( rel='stylesheet' type='text/css' href='/client/profile/badges/view/view.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/mail_ls/mail_ls.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/mail_convo/mail_convo.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/mail_input/mail_input.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/convols/convols.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/convo/convo.css' )
		script( src='/config.js' )
		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' )
		script( src='/client/modules/history.js/scripts/bundled/html4+html5/jquery.history.js' )
		script( src='/client/modules/colorbox/jquery.colorbox-min.js' )
		script( src='/client/modules/isotope/isotope.js' )
		script( src='/socket.io/socket.io.js' )
		script( src='/client/profile/profile.js' )
		script( src='/client/modules/convo/convo.js' )
		script( src='/client/profile/delta/delta.js' )
		script( src='/client/profile/badges/badges.js' )
		script( src='/client/profile/mail/mail.js' )
		script( src='/client/profile/options/options.js' )
		script( src='/client/profile/badges/view/view.js' )
		script( src='/client/modules/mail_convo/mail_convo.js' )
		script( src='/client/modules/mail_ls/mail_ls.js' )
		script( src='/client/modules/mail_input/mail_input.js' )
		script( src='/client/modules/convols/convols.js' )
	body
		#profile-dock
		#profile
			#profile-meta
				input#profile-meta-view( type='hidden' value='#{ profileData.view }' )
				input#profile-meta-convo( type='hidden' value='#{ profileData.convo }' )
			#profile-content
				table#profile-headerbar
					td#profile-headerbar-name( class='profile-headerbar-cell' ) 
						table#profile-headerbar-name-table( class='.profile-headerbar-subtable' )
							td#profile-headerbar-name-table-cell #{ profileData.name }
					td#profile-headerbar-stats( class='profile-headerbar-cell' )
						table#profile-headerbar-stats-table( class='profile-headerbar-subtable' )
							td#profile-headerbar-stats-delta #{ profileData.deltas } ∆
							td#profile-headerbar-stats-badges #{ profileData.badges } ☆
					td#profile-headerbar-tabs( class='profile-headerbar-cell' )
						table#profile-headerbar-tabs-table( class='profile-headerbar-subtable' )
							tr#profile-headerbar-tabs-row
								td#profile-headerbar-tabs-delta( class='profile-headerbar-tab' class='profile-faded' )
									#profile-headerbar-tabs-delta-text( class='profile-headerbar-tab-text' ) ∆
								td#profile-headerbar-tabs-badges( class='profile-headerbar-tab' class='profile-faded' )
									#profile-headerbar-tabs-badges-text( class='profile-headerbar-tab-text' ) ☆
								td#profile-headerbar-tabs-mail( class='profile-headerbar-tab' class='profile-faded' )
									#profile-headerbar-tabs-mail-text( class='profile-headerbar-tab-text' ) ✉
								td#profile-headerbar-tabs-options( class='profile-headerbar-tab' class='profile-faded' )
									#profile-headerbar-tabs-options-text( class='profile-headerbar-tab-text' ) ⚙
				#profile-viewer
				#profile-input
